.body{
    width: 30%;
    height: 50px;
    border: 5px dashed #f7a239;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
  }
  

.carousel{
    color: black;
}

.submit{
    color: blue;
}